#Login{
	width: 30%;
  margin-top: 15%;
  margin-left: 33%;
}

.card{
	margin-top: 15%;
	margin-left: 40%;
}

#Balance{
	display: none;
}

#Profile{
	display: none;
}

#addMoney{
	display: none;
}

#History{
	display: none;
}
